body {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  color: #B56357;
  background-color: #EAE3EA;
  margin: 0;
}

body h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #B56357;
}

body h2 {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 50px;
  color: #B56357;
}

header {
  background-color: #dddddd;
  padding: 20px;
}

#img-div {
  text-align: center;
  margin-top: 50px;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  font-size: 0.8em;
  margin-top: 5px;
}

#biography-list {
  text-align: left;
  max-width: 80%;
  margin: 0 auto;

}

#title-bio {
  font-size: 1.5em;
}

.bio-div {
  max-width: 100%;
  
}

#final-quote {
  font-size: 1.3em;
  font-style: italic;
  margin: 80px 0;
}

#search-input {
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 42px;
  font-weight: 300;
  outline: 0px;
  
}

#search-input:focus {
  border: 2px solid #B56357;
}

#search-input::placeholder {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

#more-about {
  margin-bottom: 80px;
}